:root {
    --java: 70%;
    --dart: 70%;
    --typescript: 70%;
    --javascript: 70%;
    --python: 50%;
    --prestashop: 70%;
    --html: 80%;
    --css: 80%;
    --angular: 60%;
    --flutter: 70%;
    --android: 50%;
    --espanol: 100%;
    --ingles: 75%;
    --linux: 70%;
    --latex: 80%;
    /*
    --mysql: 90%;
    */
}

.container-pb {
    margin-bottom: -8rem;
}

.skills-bar-container {
    position: relative;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.skills-bar-container li {
    position: relative;
    width: 130%;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: -3rem;
}

.skills-bar-container li .progressbar-title {
    color: #8c8b8b;
}

.skills-bar-container li .progressbar-title h5 {
    font-size: 1.75rem;
    margin-top: 10px;
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    text-transform: none;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #999999;
    margin: 0;
}

.skills-bar-container li .progressbar-title img {
    height: 1.5em;
    width: auto;
    margin-left: 0.5rem;
}

.skills-bar-container li .progressbar-title .percent {
    font-size: 1.25rem;
    position: absolute;
    right: 5px;
}

.skills-bar-container li .bar-container {
    position: relative;
    background: #e6e5e591;
    height: 16px !important;
    width: 100%;
    margin-top: 1rem;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.skills-bar-container li .bar-container .progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.progressred {
    background-color: #2d6369;
}

.progressblue {
    background-color: #4faeb8;
}

.progresspurple {
    background-color: #17a2b8;
}

.progressorange {
    background-color: #64dbe8;
}

.progressgreen {
    background-color: #ace6ec;
}


/*--------------------------------------------------------
    Lenguajes de programación
-----------------------------------------------------------*/

.skills-bar-container li .bar-container #progress-java {
    -webkit-animation-name: progress-java;
    animation-name: progress-java;
    -webkit-animation-delay: 0.7ss;
    animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-dart {
    -webkit-animation-name: progress-dart;
    animation-name: progress-dart;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-typescript {
    -webkit-animation-name: progress-typescript;
    animation-name: progress-typescript;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-javascript {
    -webkit-animation-name: progress-javascript;
    animation-name: progress-javascript;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.skills-bar-container li .bar-container #progress-python {
    -webkit-animation-name: progress-python;
    animation-name: progress-python;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}


/*--------------------------------------------------------
    Desarrollo web
-----------------------------------------------------------*/

.skills-bar-container li .bar-container #progress-prestashop {
    -webkit-animation-name: progress-prestashop;
    animation-name: progress-prestashop;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-angular {
    -webkit-animation-name: progress-angular;
    animation-name: progress-angular;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}


/*--------------------------------------------------------
    Desarrollo móvil
-----------------------------------------------------------*/

.skills-bar-container li .bar-container #progress-flutter {
    -webkit-animation-name: progress-flutter;
    animation-name: progress-flutter;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-android {
    -webkit-animation-name: progress-android;
    animation-name: progress-android;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}


/*--------------------------------------------------------
    Idiomas
-----------------------------------------------------------*/

.skills-bar-container li .bar-container #progress-espanol {
    -webkit-animation-name: progress-espanol;
    animation-name: progress-espanol;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-ingles {
    -webkit-animation-name: progress-ingles;
    animation-name: progress-ingles;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}


/*--------------------------------------------------------
    Otros
-----------------------------------------------------------*/

.skills-bar-container li .bar-container #progress-linux {
    -webkit-animation-name: progress-linux;
    animation-name: progress-linux;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-latex {
    -webkit-animation-name: progress-latex;
    animation-name: progress-latex;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}


/*
.skills-bar-container li .bar-container #progress-mysql {
    -webkit-animation-name: progress-mysql;
    animation-name: progress-mysql;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}
*/


/*--------------------------------------------------------
    Java
-----------------------------------------------------------*/

@-webkit-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: var(--java);
    }
}

@-moz-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: var(--java);
    }
}

@keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: var(--java);
    }
}


/*--------------------------------------------------------
    Dart
-----------------------------------------------------------*/

@-webkit-keyframes progress-dart {
    0% {
        width: 0%;
    }
    100% {
        width: var(--dart);
    }
}

@-moz-keyframes progress-dart {
    0% {
        width: 0%;
    }
    100% {
        width: var(--dart);
    }
}

@keyframes progress-dart {
    0% {
        width: 0%;
    }
    100% {
        width: var(--dart);
    }
}


/*--------------------------------------------------------
    Typescript
-----------------------------------------------------------*/

@-webkit-keyframes progress-typescript {
    0% {
        width: 0%;
    }
    100% {
        width: var(--typescript);
    }
}

@-moz-keyframes progress-typescript {
    0% {
        width: 0%;
    }
    100% {
        width: var(--typescript);
    }
}

@keyframes progress-typescript {
    0% {
        width: 0%;
    }
    100% {
        width: var(--typescript);
    }
}


/*--------------------------------------------------------
    Javascript
-----------------------------------------------------------*/

@-webkit-keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: var(--javascript);
    }
}

@-moz-keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: var(--javascript);
    }
}

@keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: var(--javascript);
    }
}


/*--------------------------------------------------------
    Python
-----------------------------------------------------------*/

@-webkit-keyframes progress-python {
    0% {
        width: 0%;
    }
    100% {
        width: var(--python);
    }
}

@-moz-keyframes progress-python {
    0% {
        width: 0%;
    }
    100% {
        width: var(--python);
    }
}

@keyframes progress-python {
    0% {
        width: 0%;
    }
    100% {
        width: var(--python);
    }
}


/*--------------------------------------------------------
    flutter
-----------------------------------------------------------*/

@-webkit-keyframes progress-flutter {
    0% {
        width: 0%;
    }
    100% {
        width: var(--flutter);
    }
}

@-moz-keyframes progress-flutter {
    0% {
        width: 0%;
    }
    100% {
        width: var(--flutter);
    }
}

@keyframes progress-flutter {
    0% {
        width: 0%;
    }
    100% {
        width: var(--flutter);
    }
}


/*--------------------------------------------------------
    android
-----------------------------------------------------------*/

@-webkit-keyframes progress-android {
    0% {
        width: 0%;
    }
    100% {
        width: var(--android);
    }
}

@-moz-keyframes progress-android {
    0% {
        width: 0%;
    }
    100% {
        width: var(--android);
    }
}

@keyframes progress-android {
    0% {
        width: 0%;
    }
    100% {
        width: var(--android);
    }
}


/*--------------------------------------------------------
    prestashop
-----------------------------------------------------------*/

@-webkit-keyframes progress-prestashop {
    0% {
        width: 0%;
    }
    100% {
        width: var(--prestashop);
    }
}

@-moz-keyframes progress-prestashop {
    0% {
        width: 0%;
    }
    100% {
        width: var(--prestashop);
    }
}

@keyframes progress-prestashop {
    0% {
        width: 0%;
    }
    100% {
        width: var(--prestashop);
    }
}


/*--------------------------------------------------------
    html
-----------------------------------------------------------*/

@-webkit-keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: var(--html);
    }
}

@-moz-keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: var(--html);
    }
}

@keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: var(--html);
    }
}


/*--------------------------------------------------------
    css
-----------------------------------------------------------*/

@-webkit-keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: var(--css);
    }
}

@-moz-keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: var(--css);
    }
}

@keyframes progress-css {
    0% {
        width: 0%;
    }
    100% {
        width: var(--css);
    }
}


/*--------------------------------------------------------
    angular
-----------------------------------------------------------*/

@-webkit-keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: var(--angular);
    }
}

@-moz-keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: var(--angular);
    }
}

@keyframes progress-angular {
    0% {
        width: 0%;
    }
    100% {
        width: var(--angular);
    }
}


/*--------------------------------------------------------
    espanol
-----------------------------------------------------------*/

@-webkit-keyframes progress-espanol {
    0% {
        width: 0%;
    }
    100% {
        width: var(--espanol);
    }
}

@-moz-keyframes progress-espanol {
    0% {
        width: 0%;
    }
    100% {
        width: var(--espanol);
    }
}

@keyframes progress-espanol {
    0% {
        width: 0%;
    }
    100% {
        width: var(--espanol);
    }
}


/*--------------------------------------------------------
    ingles
-----------------------------------------------------------*/

@-webkit-keyframes progress-ingles {
    0% {
        width: 0%;
    }
    100% {
        width: var(--ingles);
    }
}

@-moz-keyframes progress-ingles {
    0% {
        width: 0%;
    }
    100% {
        width: var(--ingles);
    }
}

@keyframes progress-ingles {
    0% {
        width: 0%;
    }
    100% {
        width: var(--ingles);
    }
}


/*--------------------------------------------------------
    linux
-----------------------------------------------------------*/

@-webkit-keyframes progress-linux {
    0% {
        width: 0%;
    }
    100% {
        width: var(--linux);
    }
}

@-moz-keyframes progress-linux {
    0% {
        width: 0%;
    }
    100% {
        width: var(--linux);
    }
}

@keyframes progress-linux {
    0% {
        width: 0%;
    }
    100% {
        width: var(--linux);
    }
}


/*--------------------------------------------------------
  latex
-----------------------------------------------------------*/

@-webkit-keyframes progress-latex {
    0% {
        width: 0%;
    }
    100% {
        width: var(--latex);
    }
}

@-moz-keyframes progress-latex {
    0% {
        width: 0%;
    }
    100% {
        width: var(--latex);
    }
}

@keyframes progress-latex {
    0% {
        width: 0%;
    }
    100% {
        width: var(--latex);
    }
}


/*--------------------------------------------------------
    mysql
-----------------------------------------------------------

@-webkit-keyframes progress-mysql {
    0% {
        width: 0%;
    }
    100% {
        width: var(--mysql);
    }
}

@-moz-keyframes progress-mysql {
    0% {
        width: 0%;
    }
    100% {
        width: var(--mysql);
    }
}

@keyframes progress-mysql {
    0% {
        width: 0%;
    }
    100% {
        width: var(--mysql);
    }
}

*/
